*{
    box-sizing: border-box;
}

body{
    font-family: "Cairo","sans-serif" ;
}
a{
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
