.exp{
    padding-top: $section-padding;
    padding-bottom: $section-padding;
    background-color: $bg-white;
    @include main-title;
    .row{
        display: flex;
        gap: 30px;
        @media (max-width:992px) {
            flex-direction: column;
        }
        .content{

            display: grid;
            align-items: center;
            grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
            gap: 30px;
            .box:not(:last-child){
                margin-bottom: 60px;
            }
            i{
                font-size: 26px;
                color: $light-sky-blue;
            }
            h3{
                font-size: 26px;
                font-weight: 500;
            }
            p{
                line-height: 1.8;
                font-size: 15px;
                width: 88%;
            }
        }
        .card{

            background-color: white;
            img{
                width: 440px;
                max-width: 100%;
                @media (max-width:992px) {
                    width: 100%;
                }
            }
            .txt{
                padding: 35px 0 60px;
                text-align: center;
                h3{
                    font-size: 23px;
                }
                p{
                    color: $light-sky-blue;
                    font-size: 22px;
                    margin-bottom: 15px;
                    font-weight: 500;
                }
            }
        }

    }

}
.call{
    background-color: $dark-sky-blue;
    padding: 30px 0;
    .content{
        width: 50%;
        @media (max-width:767px) {
            width: 80%;
        }
        margin: 0 auto;
        text-align: center;
        line-height: 1.7;
        p{
            color: white;
            font-size: 37px;
            font-weight: bold;
            @media (max-width:767px) {
                font-size: 19px;
            }
        }
        div{
            color: white;
            font-size: 30px;
            font-weight: bold;
            span{
                color: $light-orange;
                font-weight: bold;
                font-size: 24px;
                margin-right: 10px;
            }
            button{
                margin-left: 17px;
            }
        }
    }

}
